body {
    background-color: skyblue;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.Liste {
    box-sizing: border-box;
    width: 48%; /* Réglage pour que chaque bloc soit environ la moitié de la largeur */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #ddd;
}

.Liste h3 {
    font-size: 1.2rem; /* Taille de police plus petite pour le titre */
    margin-bottom: 5px;
}

.Liste p {
    margin: 0;
    font-size: 0.9rem; /* Taille de police plus petite pour les paragraphes */
}

button {
    background-color: turquoise;
}
